@font-face {
    font-family: 'Comic Sans MS';
    src: url("./TextFont/comici.ttf");
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url("./image/landscape_background.png") no-repeat;
    background-size: cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* ---------------------------------------------------- Setup */

#screen {
    display: initial;
}

#Home {
    display: grid;
    height: 100%;
    grid-template-areas:
        "name name name"
        "how how play"
        "infoBoard infoBoard play"
        "footer footer footer";

    grid-template-columns: 35% 35% 30%;
    grid-template-rows: auto auto 70% 4%;
    animation: fadeIn 1s forwards;
}

#gameName {
    grid-area: name;
    font-size: 10vh;
    text-align: center;
    font-weight: bold;
    color: black;
}

#how {
    grid-area: how;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: orangered;
    font-weight: bold;
    font-size: 5vh;
}

#infoBoard {
    grid-area: infoBoard;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    overflow: scroll;
    background-color: royalblue;
    text-align: justify;
    font-size: 3vh;
    border: 5px solid black;
    border-radius: 50px;
}

#infoBoard > ul {
    height: 100%;
    list-style-type: none;
}

#infoBoard > ul > li > span {
    background-color: black;
    font-size: 120%;
    font-weight: bold;
}

#play {
    grid-area: play;
    display: flex;
    margin: 20px;
    padding: 30px;
    font-size: 100%;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 30px;
}

#play > h1 {
    text-align: center;
    font-size: max(5vw, 5vh);
}

#play > img {
    width: 100%;
    height: 50%;
}

#play > input {
    width: 100%;
    height: max(5vh, 5vw);
    margin-top: 10px;
    font-size: max(2vw, 3vh);
    text-align: center;
    border: none;
    border-radius: 22px;
}

#play > button {
    width: 100%;
    height: max(5vh, 5vw);
    margin-top: 20px;
    font-weight: bold;
    font-size: 3vh;
    background-color: orange;
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

#play > button:hover {
    border: 5px solid black;
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
    border-top: 5px solid black;
    background-color: greenyellow
}

#contactsText {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contactsText > div {
    display: inline;
    flex-grow: 0.1;
}

#contactsText > div > span {
    margin: 5px;
}

#contactsLink {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contactsLink > a {
    color: black;
}
/* ---------------------------------------------------- Pregame & Ingame */

#gameContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    animation: backInDown 1s;
}

.barContainer {
    display: flex;
    width: 50%;
    height: 10%;
    margin: 10px;
    font-size: min(5vh, 5vw);
    border: 5px solid black;
    border-radius: 20px;
    justify-content: center;
    background-color: orangered;
}

.barContainer > div {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.barContainer:nth-of-type(2) {
    height: 12%;
    background-color: royalblue;
    font-weight: bold;
}

.barContainer:first-child > div:nth-of-type(2) {
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-color: greenyellow;
    font-weight: bold;
}

.barContainer:nth-of-type(2) > div:nth-of-type(1) {
    font-size: min(3vw, 3vh);
    /* text-align: initial; */
}

.barContainer:nth-of-type(2) > div:nth-of-type(2) {
    width: 70%;
    border-left: 5px solid black;
}

#controlBtn {
    width: 70%;
    padding: 10px;
    background-color: rgb(0, 255, 0);
    font-size: min(4vh, 4vw);
    font-weight: bold;
    border: 5px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.boardContainer {
    width: 50%;
    height: 70%;
    margin: 10px;
}

.cell {
    border: 1px solid black;
}

.popupContainer {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------- Gameover */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: zoomIn 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupInner {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    width: 30%;
    height: 40%;
    background-color: rgb(0, 255, 0);

    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 5px solid black;
}

.popupInner > h1 {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    border-bottom: 5px solid black;
    line-height: 0.1em;
}

.popupInner > h1 > span {
    background-color: rgb(0, 255, 0);
    padding: 0 10px;
}

.popupInner > p {
    width: 100%;
    margin: 25px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

.popupInner > button {
    width: 50%;
    margin: 15px;
    padding: 10px;
    font-size: 200%;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 20px;
    background-color: orange;
    cursor: pointer;
    transition: 0.5s;
}

.popupInner > button:hover {
    background-color: red;
    color: white;
}

@media (orientation: portrait) {
    body {
        background: url("./image/portrait_background.png") no-repeat;
    }

    #Home {
        grid-template-areas:
            "name"
            "how"
            "infoBoard"
            "play"
            "footer";
        grid-template-columns: none;
        grid-template-rows: 10% 10% 40% 50% 8%;
    }

    #gameName {
        font-size: 5vh;
    }

    #footer {
        font-size: 4vw;
    }

    #contactsText {
        flex-direction: column;
    }

    #contactsLink {
        flex-direction: column;
    }

    .barContainer {
        width: 100%;
        height: 5%;
    }

    .barContainer:nth-of-type(2) {
        height: 8%;
        background-color: royalblue;
    }

    .boardContainer {
        width: 100%;
        height: 50%;
    }

    .popupInner {
        width: 80%;
        height: 40%;
        font-size: 300%;
    }
}
